body{
    background-image: url("https://img.freepik.com/vector-gratis/antecedentes-medicos-dentista-diseno-diente-3d_1017-26095.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}